/* topbar and navbar */
.topBarL, .topBarR, .navBar, .footer-buttons, .wizard{
    position: absolute;
}

.topBar{
    height: 40px;
    width: 100%;
    background-color: #0078d4;
}

.navBar{
    top: 40px;
}

.navBar{
    width: 226px;
    height: 728px;
}

.topBarL, .topBarR{
    Top:0;
}

.topBarL, .navBar{
    Left: 0;
}

.topBarR{
    Right: 0;
}

/* BreadCrumb */
.bread {
  left: 226px;
  width: 100%;
  height: 27px;
}

.bladeTitle{
  width: 100%;
  height: 40px;
}

.borderBottom{
  border-bottom: 1px solid #d6d6d6; 
}

.borderRight{
  border-right: 1px solid #d6d6d6;
}

.borderLeft{
  border-right: 1px solid #d6d6d6;
}

.borderTop{
  border-top: 1px solid #d6d6d6;
}

/* mainStage left: 233+226px */
.stage {
  width: 100%;
  left: 225px; 
}

.content{
  top: 154px;
  z-index:1000;
}

.wizard{
  top:0px;
  left:0px;
  width:100%;
  border-top: 1px solid #d6d6d6;
}

.bottomCtrl{
  position: absolute;
  left: 226px;
  bottom: 0;
  z-index: 1;
}

/* stepzilla */
/* .progtrckr-todo, .progtrckr-doing{
  float: left;
  margin-right:50px;
}
.step-progress{
  font-size:13px;
  width:100%;
  padding-left:226px;
  height: 0px;
}
.progtrckr-doing {
  background-color: lightgrey;
}
.progtrckr{
  text-align: left;
} */

.progtrckr-doing {
  background-color: grey;
}

ol{
  list-style: none;
  padding-left:226px;
  font-size:13px;
}

li{
  float:left;
  margin-right: 10px;
  width:12%;
  background-color: lightgrey;
  user-select:none;
}

li em{
  font-size: 0;
}

.footer-buttons{
  left: 226px;
  width: 100%;
  height: 39px;
  bottom: 0;
  background-color:white;
  border-top: 1px solid #d6d6d6;
}
.btn{
  position: absolute;
  top: 50%;
  transform: translate(30%, -50%)
}
.btn-next{
  left: 8%;
}
.btn-prev{
  left: 14.5%;
}

